<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Title</h3>
            </div>
            <form class="form-horizontal">



                <div class="box-body">



                    <div class="form-group">
                        <label for="requestedBy" class="col-sm-2 control-label">Requested By</label>

                        <div class="col-sm-8">
                            <h5>User Full Name Here</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="timestamp" class="col-sm-2 control-label">Creation Date</label>

                        <div class="col-sm-8">
                            <h5>Request Timestamp Here</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>

                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" placeholder="Description Here" disabled=""></textarea>
                        </div>
                    </div>


                    <img class="img-responsive pad" src="../assets/dining_room.png" alt="Photo">
                    <p>I took this photo this morning. What do you guys think?</p>
                    <button type="button" class="btn btn-default btn-xs">
                        <i class="fa fa-share"></i> Share</button>
                    <button type="button" class="btn btn-default btn-xs">
                        <i class="fa fa-thumbs-o-up"></i> Like</button>
                    <span class="pull-right text-muted">127 likes - 3 comments</span>



                    <div class="box-footer box-comments">
                        <div class="box-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="../assets/icons/user3-128x128.jpg" alt="User Image">

                            <div class="comment-text">
                                <span class="username">
                                    Maria Gonzales
                                    <span class="text-muted pull-right">8:03 PM Today</span>
                                </span>
                                <!-- /.username -->
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </div>
                            <!-- /.comment-text -->
                        </div>
                        <!-- /.box-comment -->
                        <div class="box-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="../assets/icons/user4-128x128.jpg" alt="User Image">

                            <div class="comment-text">
                                <span class="username">
                                    Luna Stark
                                    <span class="text-muted pull-right">8:03 PM Today</span>
                                </span>
                                <!-- /.username -->
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </div>
                            <!-- /.comment-text -->
                        </div>
                        <!-- /.box-comment -->
                    </div>
                </div>
                <div class="box-footer">
                        <img class="img-responsive img-circle img-sm" src="../assets/icons/user4-128x128.jpg" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                          <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>